Repository 483759/Next-Place, pull requests merged in 2021-11, with the labels that each got.

#10 feat:[#6] 엔티티 초기 설계
  backend/src/main/java/com/aespa/nextplace/model/entity/BaseAddress.java
  backend/src/main/java/com/aespa/nextplace/model/entity/BaseTimeEntity.java
  backend/src/main/java/com/aespa/nextplace/model/entity/City.java
  backend/src/main/java/com/aespa/nextplace/model/entity/Plaction.java
  backend/src/main/java/com/aespa/nextplace/model/entity/Pladex.java
  backend/src/main/java/com/aespa/nextplace/model/entity/Plamon.java
  backend/src/main/java/com/aespa/nextplace/model/entity/PlamonRank.java
  backend/src/main/java/com/aespa/nextplace/model/entity/Spot.java
  backend/src/main/java/com/aespa/nextplace/model/entity/SpotType.java
  backend/src/main/java/com/aespa/nextplace/model/entity/User.java
  backend/src/main/java/com/aespa/nextplace/model/entity/UserRole.java
Labels: feature, backend

#22 feat:[#11]:login
  backend/build.gradle
  backend/src/main/java/com/aespa/nextplace/config/FirebaseInitializer.java
  backend/src/main/java/com/aespa/nextplace/config/SecurityConfig.java
  backend/src/main/java/com/aespa/nextplace/controller/UserController.java
  backend/src/main/java/com/aespa/nextplace/model/entity/MyUserDetails.java
  backend/src/main/java/com/aespa/nextplace/model/entity/User.java
  backend/src/main/java/com/aespa/nextplace/model/repository/UserRepository.java
  backend/src/main/java/com/aespa/nextplace/response/UserResponse.java
  backend/src/main/java/com/aespa/nextplace/service/MyUserDetailsService.java
  backend/src/main/java/com/aespa/nextplace/service/UserService.java
  backend/src/main/java/com/aespa/nextplace/service/UserServiceImpl.java
  backend/src/main/java/com/aespa/nextplace/util/CookieUtil.java
  backend/src/main/java/com/aespa/nextplace/util/FirebaseTokenFilter.java
Labels: feature, backend

#29 (#25) Swagger API Docs 적용
  .gitignore
  backend/build.gradle
  backend/src/main/java/com/aespa/nextplace/config/SecurityConfig.java
  backend/src/main/java/com/aespa/nextplace/config/SwaggerConfiguration.java
  backend/src/main/java/com/aespa/nextplace/config/WebConfiguration.java
  backend/src/main/java/com/aespa/nextplace/controller/PlamonController.java
Labels: documentation, backend

#32 feature/GeocodeUtil
  backend/src/main/java/com/aespa/nextplace/util/GoogleGeocodeUtil.java
Labels: feature, backend

#34 fix/dependency
  backend/build.gradle
Labels: bug, backend

#37 Close (#30) 전체 Pladex(고유 플레몬) 리스트 조회
  backend/src/main/java/com/aespa/nextplace/controller/PladexController.java
  backend/src/main/java/com/aespa/nextplace/model/repository/PladexRepository.java
  backend/src/main/java/com/aespa/nextplace/model/response/ListPladexResponse.java
  backend/src/main/java/com/aespa/nextplace/model/response/PladexResponse.java
  backend/src/main/java/com/aespa/nextplace/service/PladexService.java
  backend/src/main/java/com/aespa/nextplace/service/PladexServiceImpl.java
  backend/src/test/java/com/aespa/nextplace/plamon/PladexServiceTest.java
  backend/src/test/java/com/aespa/nextplace/plamon/PlamonServiceTest.java
Labels: documentation, feature, backend

#40 Feature/login
  backend/src/main/java/com/aespa/nextplace/controller/UserController.java
  backend/src/main/java/com/aespa/nextplace/service/UserServiceImpl.java
Labels: backend, refactoring

#41 Close #38 Feature/add pladex
  backend/build.gradle
  backend/src/main/java/com/aespa/nextplace/controller/PladexController.java
  backend/src/main/java/com/aespa/nextplace/model/entity/Pladex.java
  backend/src/main/java/com/aespa/nextplace/model/repository/PladexRepository.java
  backend/src/main/java/com/aespa/nextplace/model/request/PladexDtoAssembler.java
  backend/src/main/java/com/aespa/nextplace/model/request/PladexRequest.java
  backend/src/main/java/com/aespa/nextplace/service/PladexService.java
  backend/src/main/java/com/aespa/nextplace/service/PladexServiceImpl.java
  backend/src/test/java/com/aespa/nextplace/plamon/PladexServiceTest.java
  backend/src/test/java/com/aespa/nextplace/plamon/PlamonServiceTest.java
Labels: feature, backend, refactoring

#47 Feature/spot
  backend/src/main/java/com/aespa/nextplace/controller/SpotController.java
  backend/src/main/java/com/aespa/nextplace/model/entity/BaseAddress.java
  backend/src/main/java/com/aespa/nextplace/model/entity/City.java
  backend/src/main/java/com/aespa/nextplace/model/entity/Spot.java
  backend/src/main/java/com/aespa/nextplace/model/repository/BaseAddressRepository.java
  backend/src/main/java/com/aespa/nextplace/model/repository/CityRepository.java
  backend/src/main/java/com/aespa/nextplace/model/repository/SpotRepository.java
  backend/src/main/java/com/aespa/nextplace/model/response/ListSpotResponse.java
  backend/src/main/java/com/aespa/nextplace/model/response/SpotResponse.java
  backend/src/main/java/com/aespa/nextplace/service/SpotService.java
  backend/src/main/java/com/aespa/nextplace/service/SpotServiceImpl.java
  backend/src/main/java/com/aespa/nextplace/util/GoogleGeocodeUtil.java
  backend/src/test/java/com/aespa/nextplace/spot/SpotServiceTest.java
Labels: feature, backend, test

#48 Close #45 Feature/buy plamon
  backend/src/main/java/com/aespa/nextplace/controller/PlamonController.java
  backend/src/main/java/com/aespa/nextplace/model/entity/Plamon.java
  backend/src/main/java/com/aespa/nextplace/model/entity/User.java
  backend/src/main/java/com/aespa/nextplace/model/repository/PladexRepository.java
  backend/src/main/java/com/aespa/nextplace/model/response/ErrorResponse.java
  backend/src/main/java/com/aespa/nextplace/service/PlamonService.java
  backend/src/main/java/com/aespa/nextplace/service/PlamonServiceImpl.java
  backend/src/test/java/com/aespa/nextplace/plamon/PlamonServiceTest.java
Labels: feature, backend

#53 Close #55 - PlamonServiceTest 오류 수정
  backend/src/test/java/com/aespa/nextplace/plamon/PlamonServiceTest.java
Labels: bug, backend, test

#54 Close #52 - security config 수정
  backend/src/main/java/com/aespa/nextplace/config/SecurityConfig.java
Labels: backend, infra

#60 plaction 테스트 코드 수정
  backend/src/test/java/com/aespa/nextplace/plaction/PlactionServiceTest.java
Labels: backend, refactoring

#62 Feat/plaction list
  backend/src/main/java/com/aespa/nextplace/controller/PlactionController.java
  backend/src/main/java/com/aespa/nextplace/model/repository/PlactionRepository.java
  backend/src/main/java/com/aespa/nextplace/model/repository/SpotRepository.java
  backend/src/main/java/com/aespa/nextplace/model/response/ListMyPlactionCountResponse.java
  backend/src/main/java/com/aespa/nextplace/model/response/MyPlactionCountResponse.java
  backend/src/main/java/com/aespa/nextplace/service/PlactionService.java
  backend/src/main/java/com/aespa/nextplace/service/PlactionServiceImpl.java
  backend/src/main/java/com/aespa/nextplace/service/SpotServiceImpl.java
  backend/src/main/java/com/aespa/nextplace/util/GugunUtil.java
  backend/src/test/java/com/aespa/nextplace/plaction/PlactionServiceTest.java
Labels: feature, backend, test

#67 Feat/plaction my plaction
  backend/src/main/java/com/aespa/nextplace/controller/PlactionController.java
  backend/src/main/java/com/aespa/nextplace/model/repository/PlactionRepository.java
  backend/src/main/java/com/aespa/nextplace/model/repository/SpotRepository.java
  backend/src/main/java/com/aespa/nextplace/model/response/ListPlactionResponse.java
  backend/src/main/java/com/aespa/nextplace/model/response/PlactionResponse.java
  backend/src/main/java/com/aespa/nextplace/service/PlactionService.java
  backend/src/main/java/com/aespa/nextplace/service/PlactionServiceImpl.java
  backend/src/test/java/com/aespa/nextplace/plaction/PlactionServiceTest.java
Labels: feature, backend, test

#73 fix:[#72] CORS Origin 추가
  backend/src/main/java/com/aespa/nextplace/config/WebConfiguration.java
Labels: bug, backend

#74 fix:[#72] swagger detail 설정
  backend/src/main/java/com/aespa/nextplace/config/WebConfiguration.java
Labels: bug, backend

#75 fix:[#72] cors filter 적용
  backend/src/main/java/com/aespa/nextplace/config/WebConfiguration.java
Labels: bug, backend

#69 Close #63 - 캐릭터 조회 시 보유 여부도 함께 조회하도록 수정
  backend/src/main/java/com/aespa/nextplace/controller/PlamonController.java
  backend/src/main/java/com/aespa/nextplace/model/repository/PladexRepository.java
  backend/src/main/java/com/aespa/nextplace/model/repository/PlamonRepository.java
  backend/src/main/java/com/aespa/nextplace/model/response/ListPlamonResponse.java
  backend/src/main/java/com/aespa/nextplace/model/response/PlamonResponse.java
  backend/src/main/java/com/aespa/nextplace/service/PlamonService.java
  backend/src/main/java/com/aespa/nextplace/service/PlamonServiceImpl.java
  backend/src/main/java/com/aespa/nextplace/util/PlamonRankUtil.java
  backend/src/test/java/com/aespa/nextplace/plamon/PladexRepositoryTest.java
  backend/src/test/java/com/aespa/nextplace/plamon/PlamonServiceTest.java
Labels: backend, refactoring

#78 Close #77 - Feature/read all plamon
  backend/src/main/java/com/aespa/nextplace/controller/PlamonController.java
  backend/src/main/java/com/aespa/nextplace/model/response/ListAllPlamonResponse.java
  backend/src/main/java/com/aespa/nextplace/model/response/ListPlamonResponse.java
  backend/src/main/java/com/aespa/nextplace/model/response/PlamonResponse.java
  backend/src/main/java/com/aespa/nextplace/service/PlamonService.java
  backend/src/main/java/com/aespa/nextplace/service/PlamonServiceImpl.java
  backend/src/test/java/com/aespa/nextplace/plamon/PlamonServiceTest.java
Labels: backend, refactoring

#79 test:[#77] 테스트 수정
  backend/src/test/java/com/aespa/nextplace/plamon/PladexRepositoryTest.java
  backend/src/test/java/com/aespa/nextplace/plamon/PlamonServiceTest.java
Labels: bug, backend, test

#83 Close #64 - 내가 가진 캐릭터 판매
  backend/src/main/java/com/aespa/nextplace/controller/PlactionController.java
  backend/src/main/java/com/aespa/nextplace/controller/PlamonController.java
  backend/src/main/java/com/aespa/nextplace/model/entity/User.java
  backend/src/main/java/com/aespa/nextplace/model/repository/PlactionRepository.java
  backend/src/main/java/com/aespa/nextplace/model/repository/PlamonRepository.java
  backend/src/main/java/com/aespa/nextplace/model/repository/SpotRepository.java
  backend/src/main/java/com/aespa/nextplace/model/response/ListPlactionResponse.java
  backend/src/main/java/com/aespa/nextplace/model/response/ListSellPlamonResponse.java
  backend/src/main/java/com/aespa/nextplace/model/response/PlactionResponse.java
  backend/src/main/java/com/aespa/nextplace/service/PlactionServiceImpl.java
  backend/src/main/java/com/aespa/nextplace/service/PlamonService.java
  backend/src/main/java/com/aespa/nextplace/service/PlamonServiceImpl.java
  backend/src/main/java/com/aespa/nextplace/util/PlamonRankUtil.java
  backend/src/test/java/com/aespa/nextplace/NextplaceApplicationTests.java
  backend/src/test/java/com/aespa/nextplace/plaction/PlactionServiceTest.java
  backend/src/test/java/com/aespa/nextplace/plamon/PlamonRepositoryTest.java
  backend/src/test/java/com/aespa/nextplace/plamon/PlamonServiceTest.java
Labels: feature, backend

#85 Close #84 - 달고나를 사용해서 캐릭터 레벨 업
  backend/src/main/java/com/aespa/nextplace/controller/PlamonController.java
  backend/src/main/java/com/aespa/nextplace/model/entity/Experience.java
  backend/src/main/java/com/aespa/nextplace/model/entity/Plamon.java
  backend/src/main/java/com/aespa/nextplace/model/entity/User.java
  backend/src/main/java/com/aespa/nextplace/model/repository/ExperienceRepository.java
  backend/src/main/java/com/aespa/nextplace/model/request/PlamonLevelUpRequest.java
  backend/src/main/java/com/aespa/nextplace/service/PlamonService.java
  backend/src/main/java/com/aespa/nextplace/service/PlamonServiceImpl.java
  backend/src/main/java/com/aespa/nextplace/util/LevelUtil.java
  backend/src/main/java/com/aespa/nextplace/util/PlamonRankUtil.java
  backend/src/test/java/com/aespa/nextplace/plamon/ExperienceRepositoryTest.java
  backend/src/test/java/com/aespa/nextplace/plamon/PlamonRepositoryTest.java
  backend/src/test/java/com/aespa/nextplace/plamon/PlamonServiceTest.java
Labels: feature, backend

#88 Cloes - #87 fix:[#87] MapUtil에 key값 노출된 것 제거
  backend/src/main/java/com/aespa/nextplace/util/NaverMapUtil.java
Labels: backend

#90 Closes #89 - feat:[#89] Plaction 갱신 시 골드 획득
  backend/src/main/java/com/aespa/nextplace/controller/PlactionController.java
  backend/src/main/java/com/aespa/nextplace/model/entity/User.java
  backend/src/main/java/com/aespa/nextplace/model/response/PlactionUpdateResponse.java
  backend/src/main/java/com/aespa/nextplace/service/PlactionService.java
  backend/src/main/java/com/aespa/nextplace/service/PlactionServiceImpl.java
  backend/src/test/java/com/aespa/nextplace/plaction/PlactionServiceTest.java
Labels: feature, backend, refactoring, test

#94 Close #91 - 대표 캐릭터 조회하기
  backend/src/main/java/com/aespa/nextplace/controller/PlamonController.java
  backend/src/main/java/com/aespa/nextplace/model/repository/PlamonRepository.java
  backend/src/main/java/com/aespa/nextplace/service/PlamonService.java
  backend/src/main/java/com/aespa/nextplace/service/PlamonServiceImpl.java
  backend/src/test/java/com/aespa/nextplace/plamon/PlamonRepositoryTest.java
  backend/src/test/java/com/aespa/nextplace/plamon/PlamonServiceTest.java
Labels: feature, backend

#96 Fix #91 - 대표 캐릭터 조회
  backend/src/main/java/com/aespa/nextplace/model/repository/PladexRepository.java
  backend/src/main/java/com/aespa/nextplace/model/repository/PlamonRepository.java
  backend/src/main/java/com/aespa/nextplace/service/PlamonServiceImpl.java
  backend/src/test/java/com/aespa/nextplace/plamon/PlamonRepositoryTest.java
  backend/src/test/java/com/aespa/nextplace/plamon/PlamonServiceTest.java
Labels: bug, test

#95 Refactor/uid
  backend/src/main/java/com/aespa/nextplace/config/SecurityConfig.java
  backend/src/main/java/com/aespa/nextplace/controller/PlactionController.java
  backend/src/test/java/com/aespa/nextplace/plaction/PlactionServiceTest.java
Labels: backend, refactoring

#98 test:[#97] 프론트 테스트용 임시 토큰 발급
  backend/src/main/java/com/aespa/nextplace/config/SecurityConfig.java
  backend/src/main/java/com/aespa/nextplace/controller/UserController.java
  backend/src/main/java/com/aespa/nextplace/service/UserService.java
  backend/src/main/java/com/aespa/nextplace/service/UserServiceImpl.java
  backend/src/main/java/com/aespa/nextplace/util/CookieUtil.java
  backend/src/main/java/com/aespa/nextplace/util/FirebaseTokenFilter.java
Labels: frontend, backend, test

#100 fix/guest
  backend/src/main/java/com/aespa/nextplace/config/SecurityConfig.java
  backend/src/main/java/com/aespa/nextplace/controller/UserController.java
Labels: bug, backend

#99 Close #70 - 대표 캐릭터 변경
  backend/src/main/java/com/aespa/nextplace/controller/PlamonController.java
  backend/src/main/java/com/aespa/nextplace/model/entity/Plamon.java
  backend/src/main/java/com/aespa/nextplace/model/request/PlamonChangeMainRequest.java
  backend/src/main/java/com/aespa/nextplace/service/PlamonService.java
  backend/src/main/java/com/aespa/nextplace/service/PlamonServiceImpl.java
  backend/src/test/java/com/aespa/nextplace/plamon/PlamonServiceTest.java
Labels: feature, backend

#102 Close #101 - 캐릭터 도메인에 Authorization 추가
  backend/src/main/java/com/aespa/nextplace/controller/PladexController.java
  backend/src/main/java/com/aespa/nextplace/controller/PlamonController.java
  backend/src/main/java/com/aespa/nextplace/model/response/ErrorResponse.java
Labels: backend, refactoring

#106 Feat/user logout
  backend/src/main/java/com/aespa/nextplace/config/SecurityConfig.java
  backend/src/main/java/com/aespa/nextplace/controller/UserController.java
  backend/src/main/java/com/aespa/nextplace/service/UserServiceImpl.java
  backend/src/main/java/com/aespa/nextplace/util/CookieUtil.java
  backend/src/main/java/com/aespa/nextplace/util/FirebaseTokenFilter.java
Labels: feature, backend, refactoring

#107 Close #105 - 메서드 로깅
  backend/build.gradle
  backend/src/main/java/com/aespa/nextplace/NextplaceApplication.java
  backend/src/main/java/com/aespa/nextplace/model/request/PlactionRequest.java
  backend/src/main/java/com/aespa/nextplace/model/request/PladexRequest.java
  backend/src/main/java/com/aespa/nextplace/model/request/PlamonChangeMainRequest.java
  backend/src/main/java/com/aespa/nextplace/model/request/PlamonLevelUpRequest.java
  backend/src/main/java/com/aespa/nextplace/util/LoggingAspect.java
Labels: feature, backend

#113 Feature/sonarqube setting
  .gitignore
  backend/build.gradle
  backend/src/main/java/com/aespa/nextplace/config/SwaggerConfiguration.java
  backend/src/main/java/com/aespa/nextplace/controller/PlamonController.java
  backend/src/main/java/com/aespa/nextplace/model/entity/Plamon.java
  backend/src/main/java/com/aespa/nextplace/model/request/PladexDtoAssembler.java
  backend/src/main/java/com/aespa/nextplace/service/PlamonServiceImpl.java
  backend/src/main/java/com/aespa/nextplace/util/LevelUtil.java
  backend/src/main/java/com/aespa/nextplace/util/PlamonRankUtil.java
  backend/src/test/java/com/aespa/nextplace/plamon/ExperienceRepositoryTest.java
  backend/src/test/java/com/aespa/nextplace/plamon/PladexServiceTest.java
  backend/src/test/java/com/aespa/nextplace/plamon/PlamonRepositoryTest.java
  backend/src/test/java/com/aespa/nextplace/plamon/PlamonServiceTest.java
Labels: feature, infra

#109 Close #108 - 캐릭터 뽑기 시 기본캐릭터 획득 버그 수정
  backend/src/main/java/com/aespa/nextplace/model/repository/PladexRepository.java
Labels: bug, backend

#125 Refactor/code smell
  backend/src/main/java/com/aespa/nextplace/controller/PlactionController.java
  backend/src/main/java/com/aespa/nextplace/model/entity/BaseAddress.java
  backend/src/main/java/com/aespa/nextplace/model/entity/MyUserDetails.java
  backend/src/main/java/com/aespa/nextplace/model/entity/Plaction.java
  backend/src/main/java/com/aespa/nextplace/model/response/ListMyPlactionCountResponse.java
  backend/src/main/java/com/aespa/nextplace/model/response/ListPlactionResponse.java
  backend/src/main/java/com/aespa/nextplace/model/response/ListSpotResponse.java
  backend/src/main/java/com/aespa/nextplace/model/response/PlactionResponse.java
  backend/src/main/java/com/aespa/nextplace/service/PlactionService.java
  backend/src/main/java/com/aespa/nextplace/service/PlactionServiceImpl.java
  backend/src/main/java/com/aespa/nextplace/service/SpotServiceImpl.java
  backend/src/main/java/com/aespa/nextplace/service/UserServiceImpl.java
  backend/src/main/java/com/aespa/nextplace/util/CookieUtil.java
  backend/src/main/java/com/aespa/nextplace/util/FirebaseTokenFilter.java
  backend/src/main/java/com/aespa/nextplace/util/GugunUtil.java
  backend/src/test/java/com/aespa/nextplace/plaction/PlactionServiceTest.java
  backend/src/test/java/com/aespa/nextplace/spot/SpotServiceTest.java
Labels: backend, refactoring

#129 Close #128 - 내가 가지지 않은 캐릭터 조회 버그 수정
  backend/src/main/java/com/aespa/nextplace/model/repository/PladexRepository.java
  backend/src/test/java/com/aespa/nextplace/pladex/PladexRepositoryTest.java
Labels: bug, backend

#131 Close #130 - Method를 PATCH에서 PUT으로 수정
  backend/src/main/java/com/aespa/nextplace/controller/PlamonController.java
Labels: bug, backend

#127 Close #126 - 처음 뽑은 캐릭터를 대표 캐릭터로 지정한다
  backend/src/main/java/com/aespa/nextplace/model/repository/PlamonRepository.java
  backend/src/main/java/com/aespa/nextplace/service/PlamonServiceImpl.java
  backend/src/test/java/com/aespa/nextplace/plamon/PlamonServiceTest.java
Labels: feature, backend

#133 Feat/spot cache
  backend/src/main/java/com/aespa/nextplace/NextplaceApplication.java
  backend/src/main/java/com/aespa/nextplace/config/CacheConfig.java
  backend/src/main/java/com/aespa/nextplace/config/RedisConfig.java
  backend/src/main/java/com/aespa/nextplace/controller/SpotController.java
  backend/src/main/java/com/aespa/nextplace/model/entity/Spot.java
  backend/src/main/java/com/aespa/nextplace/model/response/ListSpotResponse.java
  backend/src/main/java/com/aespa/nextplace/model/response/SpotResponse.java
  backend/src/main/java/com/aespa/nextplace/service/SpotService.java
  backend/src/main/java/com/aespa/nextplace/service/SpotServiceImpl.java
  backend/src/test/java/com/aespa/nextplace/spot/SpotServiceTest.java
Labels: feature, backend, test

#135 Close #134 - PlamonService 분리
  backend/src/main/java/com/aespa/nextplace/controller/PlamonController.java
  backend/src/main/java/com/aespa/nextplace/service/PlamonDealService.java
  backend/src/main/java/com/aespa/nextplace/service/PlamonDealServiceImpl.java
  backend/src/main/java/com/aespa/nextplace/service/PlamonService.java
  backend/src/main/java/com/aespa/nextplace/service/PlamonServiceImpl.java
  backend/src/test/java/com/aespa/nextplace/plamon/PlamonDealServiceTest.java
  backend/src/test/java/com/aespa/nextplace/plamon/PlamonServiceTest.java
Labels: backend, refactoring

#137 Close #136 - Hotfix/gatcha by rank
  backend/src/main/java/com/aespa/nextplace/model/repository/PladexRepository.java
  backend/src/test/java/com/aespa/nextplace/pladex/PladexRepositoryTest.java
Labels: bug, backend

#139 Close #138 - Feature/additional test
  backend/src/main/java/com/aespa/nextplace/config/FirebaseInitializer.java
  backend/src/main/java/com/aespa/nextplace/service/UserServiceImpl.java
  backend/src/test/java/com/aespa/nextplace/pladex/PladexRepositoryTest.java
  backend/src/test/java/com/aespa/nextplace/plamon/PlamonRepositoryTest.java
Labels: bug, backend, refactoring

#141 fix:[#140] 캐시 비밀번호 설정 추가
  backend/src/main/java/com/aespa/nextplace/config/CacheConfig.java
  backend/src/main/java/com/aespa/nextplace/config/RedisConfig.java
Labels: bug, backend

#144 Close #4 - Feature/readme
  README.md
Labels: documentation

#147 refactor:[#97] 테스트용 로그인 제거
  backend/src/main/java/com/aespa/nextplace/util/FirebaseTokenFilter.java
Labels: backend, refactoring, test
